body {
    margin-right: auto;
    margin-left: auto;

    font-family:Verdana;
    background-color: #305728;
    width: 1500px;
}

img.logotip {
    margin: 10px 0 0 60px;
    height: 110px;
}

img.basket {
    margin: 20px 0 20 0px;
    height: 120px;
}

fieldset.log{ border: solid 3px #305728;
        height: 100px;
        width: 446px;
        border-radius: 5px;   
   }

fieldset.newpass{ border: solid 3px #305728;
    width: 446px;
    border-radius: 5px;
    height: 180px;

}

fieldset.small{ border: solid 3px #305728;
    width: 446px;
    border-radius: 5px;
    height: 180px;

}

fieldset.product{ border: solid 3px #305728;
    float: left;
    margin: 7px 0px 7px 7px; 
    font-size: 10px;
    border-radius: 5px;
    height: 100px;
    width: 80px;
}

fieldset.tovar{ border: solid 3px #305728;
    float: left;
    margin: 17px 0px 10px 17px; 
    width: 200px;
    border-radius: 5px;
    height: 300px;
 
}

a:hover  {color:#099633;}
a { color:#305728; }



.right_newlog { width: 150px; float: left; }
.left_newlog { width: 220px; float: left; }


.header {
    height: 130px;
    float: left;
    background-color: #e5f0df;
    width: 1000px;
    border-radius: 10px;

}

.loginform {
    margin-left: 10px;
    background-color: #e5f0df;

    border-radius: 10px;
    float: left;
    height: 130px;
    width: 490px;

}

.centerside {
    min-height: 795px;
    height: auto;
    width: 1500px;
    border-radius: 10px;
    background-color: #e5f0df;
    float: left;
    margin: 10px 0 0 0px;
}


.down {
    float: left;
    margin: 10px 0 0 0px;
    background-color: #e5f0df;
    border-radius: 10px;
    width: 1500px;
    height: auto;
    min-height: 115px;
}

ul {

    list-style: none;
    margin: 0;
    padding-left: 0;
    margin-top:40px;
}

ul.navi > li {
    float: right;
    margin-right:5px;
}
ul.navi > li > a {
    margin-right: 50px;
    text-decoration: none;
    background:#305728;
    color:#fff;
    padding:30px;
    font-family: Verdana;
    border-radius:20px; 
    -moz-transition: all 0.6s 0.03s ease;
    -o-transition: all 0.6s 0.03s ease;
    -webkit-transition: all 0.6s 0.03s ease;
}

